<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>737836569971-70nmsg6640o057f096as93pr86smt82o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.737836569971-70nmsg6640o057f096as93pr86smt82o</string>
	<key>API_KEY</key>
	<string>AIzaSyAc8UrJkNwTsUTYB89avzx4Rcbpd5_QDbs</string>
	<key>GCM_SENDER_ID</key>
	<string>737836569971</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.basic</string>
	<key>PROJECT_ID</key>
	<string>flutter-fcm-bb699</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-fcm-bb699.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:737836569971:ios:2000c6f56ff0e157992106</string>
</dict>
</plist>